---
layout: page
---
<!-- Top -->
<% page.posts.each(function(post){ %>
    <% if (post.top) { %>
    <!-- 判断语句判断是否为置顶文章200309 -->

        <div class="post-preview">

            <a href="<%- config.root %><%- post.path %>">
                <h2 class="post-title">
                    <img class="top_logo" src="/img/tp.png"/>  <!-- 这里是文章置顶的地方 -->
                    &nbsp;&nbsp;&nbsp;&nbsp;<%- post.title || "Untitled" %>
                </h2>
                <h3 class="post-subtitle">
                    <%- post.subtitle || "" %>
                </h3>
                <!-- 下面为新代码，主页其他文章同下 -->
                <div class="post-content-preview">
                    <% if (post.excerpt) { %>
                        <%- post.excerpt %>
                        <% if (theme.excerpt_link) { %>
                          <p class="article-more-link">
                            <a href="<%- config.root %><%- post.path %>#more"><%= theme.excerpt_link %></a>
                          </p>
                        <% } %>
                      <% } else { %>
                          <%- truncate(strip_html(post.content), {length: 200, omission: '...'}) %>...
                      <% } %>
                </div>
            </a>
            <% if (config.home_posts_tag){%>
                <p class="post-meta" style="margin: 10px 0;">
                    Posted by <%- post.author || config.author %> on
                    <%= post.date.format(config.date_format) %>
                </p>
                <div class="tags">
                    <% post.tags.forEach(function(tag){ %>
                      <a href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
                    <% }) %>
                </div>
            <%} else {%>
                <p class="post-meta">
                    Posted by <%- post.author || config.author %> on
                    <%= post.date.format(config.date_format) %>
                </p>
            <%}%>

        </div>
        <hr>

    <% } %>
<% }); %>


<!-- Main Content -->
<% page.posts.each(function(post){ %>
    <% if (!post.top) { %>

        <div class="post-preview">           <!-- 这里就是修改主页文章预览的地方 --> 

            <a href="<%- config.root %><%- post.path %>">
                <h2 class="post-title">
                    <%- post.title || "Untitled" %>
                </h2>
                <h3 class="post-subtitle" style="display:inline-block;vertical-align:middle;">
                    <%- post.subtitle || "" %>
                </h3>
                <h3 class="post-subtitle" style="display:inline-block;vertical-align:middle;float:right;">
                    <%= post.date.format(config.date_format) %>
                </h3>
                

                <!-- 代码备份 -->
                <!-- <div class="post-content-preview"> -->
                <!-- 代码还原区域 20200321-->   
                <!-- </div> -->

                <!-- 下面为新代码 -->
                <div class="post-content-preview">
                    <% if (post.excerpt) { %>
                        <%- post.excerpt %>
                        <% if (theme.excerpt_link) { %>
                          <p class="article-more-link">
                            <a href="<%- config.root %><%- post.path %>#more"><%= theme.excerpt_link %></a>
                          </p>
                        <% } %>
                      <% } else { %>
                          <%- truncate(strip_html(post.content), {length: 200, omission: '...'}) %>...
                      <% } %>
                </div>
            </a>

            <% if (config.home_posts_tag){%>
                <div class="tags" style="display:inline-block;">
                    <% post.tags.forEach(function(tag){ %>
                      <a href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
                    <% }) %>
                </div>
            <%} else {%>
                <p class="post-meta">
                    Posted by <%- post.author || config.author %> on
                    <%= post.date.format(config.date_format) %>
                </p>
            <%}%>

        </div>
        <hr>

    <% } %>
<% }); %>


<!-- Pager -->

<ul class="pager">
    <% if (page.prev){ %>
        <li class="previous">
            <a href="<%- config.root %><%- page.prev_link %>">&larr; Newer Posts</a>
        </li>
    <% } %>
    <% if (page.next){ %>
        <li class="next">
            <a href="<%- config.root %><%- page.next_link %>">Older Posts &rarr;</a>
        </li>
    <% } %>
</ul>

